.myform {
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}
myform > * {
  padding: 10px;
  margin: auto;
}
.myform > input {
  padding: 15px;
  border: 0px;
  border-bottom: 1px solid black;
  margin: 20px 40px;
}
.myform input[type="submit"] {
  background: #eeeeee;
  font-size: 20px;
  border: 0px;
  border-radius: 2px;
}
